.list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  gap: 1rem;
}

.list__container .list__wrapper {
  background-color: var(--secondary);
  width: 100%;
  height: min-content;
  flex-basis: 40%;

  -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);

  padding: 1rem;

  position: sticky;
  top: 0;
  left: 0;
}

.list__wrapper .list__search {
  font-size: 2.2rem;
  line-height: 1.2;
}



.list__container .list__search__destination {
  margin: 1.2rem 0;
}

.list__search input {
  padding: 0.75rem 0.3rem;
  width: 100%;
  border: none;
}

.list__search .list__search__option {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.list__search .list__search__options span {
  flex-basis: 75%;
}

.list__search .btn {
  padding: 1rem;
  width: 100%;
  background-color: var(--light-blue);
  border: none;
  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 4px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
}

.list__container .list__search__destination p {
  text-transform: capitalize;
  font-size: 1.9rem;
}


.list__container .list__detail {
    /* background-color: var(--primary); */
    width: 100%;
    flex-basis: 60%;
  }

  .list__detail .list__detail__container {
    border: 1px solid #ccc;
    padding: 1rem;
   margin-bottom: 1rem;
}

.list__detail__container .list__box {
    display: flex;
}

.list__detail__container .list__box .list__box__img{
    flex-basis: 35%;
    margin-right: 1rem;
}

.list__detail__container .list__box .list__box__img  img {
    width: 100%;
    object-fit: fill;
    height: 100%;
}

.list__box .list__right__detail{
    flex-basis: 90%; 
}

.list__box .list__box__detail{
    display: flex;
    justify-content: space-between;
}


.list__box__detail h3 {
    color: var(--primary);
    font-size: 2.1rem;
    text-transform: capitalize;
    line-height: 1.2;
}

.list__box__detail span  {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primary);
}
.list__box__detail span.rating  {
    background-color: var(--primary);
    color: var(--white);
    padding: .35rem .45rem;
    width: 4rem;
    text-align: center;
    font-weight: 400;
    border-radius: 7px;
}



.list__box__breadcrumb  .offer {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #121010;

}

.list__right__detail  .extra  {
    background-color: #1f850f;
    font-size: 1.4rem;
    color: var(--white);
    padding: .1rem;
    text-transform: capitalize;
    border-radius: 4px;
}

.list__right__detail .extra__Info {
    font-size: 1.5rem;
    color: var(--text);
    line-height: 1.7;
}


.list__right__detail .extra__detail,
.list__right__detail  .info  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__right__detail .cancel {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #100e0ecc;
}

.list__right__detail  .extra__detail span:first-child  {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #100e0ecc;
}

.list__right__detail  .extra__detail span:last-child  {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 900;
}


.list__right__detail .tax  {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 900;
}


.list__right__detail .after{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__right__detail .after .after__text {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--primary);
    text-transform: capitalize;
    line-height: 1.5;
    flex-basis: 70%;
}


.list__right__detail .after .btn{
    padding: .8rem .9rem;
    background-color: var(--primary);
    color: var(--white);
    text-transform: capitalize;
    border: none;
    border-radius: 6px;
    flex-basis: 30%;
}