.home__container{
    margin-top: 10rem;

    width: 100%;

    max-width: 1024px;
    margin: 0 auto;
}


.home__title{
    font-size: 2rem;
    font-weight: 700;
    
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-transform: capitalize;
}