.header{
    background-color: var(--primary);
    width: 100%;
    /* height:30rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 6rem;
    position: relative;
}

.header.listMode{
    justify-content: flex-start;
}

.header .headerList {
    padding-bottom: 1.3rem;
    display: flex;
    gap: 1.7rem;
    color: var(--white);
}

.header .headerList .headerListItem {
    font-size: 1.9rem;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
   
}

.header .headerList .headerListItem:first-child {
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 10px 11px;
}

.header .headerList   .headerListItem{
    display: flex;
    align-items: center;
    gap: .5rem;
} 

.header .heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--white);
    line-height: 1.4;
}

.header p.lead {
    font-size: 1.5rem;
    color: var(--white);
    line-height: 1.7;
}

.header .btn  {
    padding: 10px;
    border: none;
    border-radius: 2px;
    line-height: 1.7;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--light-blue);
    color: var(--white);
}


.header .header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 5rem;
    border-radius: 3px;
    padding: 0 1rem;
    background-color: var(--secondary);
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
}

.header .header__search__item{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header  .header__search__item .icon{
    font-size: 1.9rem;
    color: var(--primary);
}

.header  .header__search__item span{
    font-size: 1.9rem;
    color: var(--primary);	
    text-transform: capitalize;
}

.header .header__search__item .input {
    padding: 1rem  0 1rem 1rem;
    border: none;
    background: transparent;
}

::placeholder{
    color: var(--primary);
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
}

.header .header__search__item .date__range {
    position: absolute;
    top: 5rem;
    z-index: 20;
}
.header .header__search__item .input:focus{
    outline: none;
}

.header__search .header__search__item .search__btn  {
    padding: 10px;
    border: none;
    border-radius: 2px;
    line-height: 1.7;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--primary);
    height: 4rem;
    color: var(--white);
}


.options{
    position: absolute;
    top: 50px; 
    -webkit-box-shadow:0px 10px 39px 10px rgba(62,66,66,0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.22);
    box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.22);

    padding: 1rem;

    width: 30rem;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

    z-index: 20;
    background-color: var(--white);
    
}

.options .options__items  {
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options .options__items .options__btn {
    padding: .45rem 1rem;
    background: var(--secondary);
    /* border: 1px solid var(--secondary); */
    border: none;
    width: 6rem;
    border-radius: 5px;
    cursor: pointer;
}