.navbar{
    background-color: var(--primary);
    display: flex;
   
    
    height: 5rem;

}


.navbar__container{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.navbar .logo {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.2rem;
}

.navbar__container  .navbar__item__btn{
    padding: 5px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 1px;
    text-transform: capitalize;
}
