.footer{
    width: 100%;
    max-width: 1024px;
    margin: 0   auto;
    font-size: 12px;
    margin-top: 3rem;
  }
  
  .footer .footer__lists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .footer .footer__list{
    list-style: none;
    padding: 0;
  }
  
  .footer__list .footer__list__item{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
  }
  
  