.mail {
  background-color: var(--primary);
}

.mail__container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
  height: 25rem;
}


.mail__container__title {
  font-size: 6rem;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--white); 
  line-height: 1.5;;
}

.mail__container .mail__container__title__sub {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.mail__container .mail__input__container{
  background-color: red;
  width: 55%;
  height: 5rem;

  display: flex;
  justify-content: center;
}


.mail__input__container  input {
  width: 75%;
  height: 100%;
  border: none;
  background-color: var(--white);
  font-size: 2rem;
  color: var(--primary);
  padding: 0.5rem;
}


.mail__input__container .btn {
  width: 25%;
  height: 100%;
  border: none;
  background-color: var( --light-blue);
  font-size: 2rem;
  color: var(--white);
  padding: 0.5rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s linear;
}

.mail__input__container  input::placeholder{
  color: #504f4f;
}

.mail__input__container  input:focus{
  outline: none;
}