*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}


/* for heading  */
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');
/* for paragragh and body */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
  --white: #fff;
  --primary: #003880;
  --light-blue:#0071C2;
  --secondary:#ffba39;
  --text:#161618;
}

html{
  font-size: 62.5%;/* 62.5% = 10px */
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--white);
}


h1, h3, h4 , span{
  font-family: 'Pragati Narrow', sans-serif;
}

p, a, li , footer{
  font-family: 'Didact Gothic', sans-serif;
}
.home{
    background-color: var(--primary);
    margin-bottom: 4rem;
}

.container {
max-width: 1024px;
   margin: 0 auto;
  }